/*main color configure*/
$body:white;
/*color configure*/
$black:#6c757d;
$border:#dee2e6;
$white:white;
$green:#198754;
$grey:#f8f9fa;
$yellow:#ffc107;
/*media screen configure*/
$screenmd: 992px;
$screenlg: 1200px;
$screenxl: 1400px;
$screensm: 768px;
$screens: 576px;
/*font configure*/
$fontFamily: 'Roboto', sans-serif;
$bodySize: 1.6rem;
$htmlSize: 10px;
$fonts: 1.4rem;
$fontm: 1.6rem;
$fontl: 2rem;
$fontlg: 2.5rem;
$fontxl: 3rem;