@import "_variables";
@import "_mixin";
@import "reset";

header {

}

main {
    flex: 1 0 auto;

    .content-area {
        .settings {
            button.save {
                background-color:$yellow;
                padding:0 2rem;
                color:$black;
                @include hover-out;
                height: 40px;

                &:hover {
                    opacity: 0.5;
                    @include hover-out;
                }
            }

            select {
                height: 40px;
                padding:0 2rem 0 0;
            }
        }

        .content {
            min-height: 500px;
            border:1px solid $border;
            background-color: $grey;
        }
    }

    .editor-area {
        .header {
            height: 60px;
            border:1px solid $border;

            button.min {
                background-color:$black;
                padding:0 2rem;
                color:$white;
                @include hover-out;

                &:hover {
                    opacity: 0.5;
                    @include hover-out;
                }
            }

            button.run {
                background-color:$green;
                padding:0 2rem;
                color:$white;
                @include hover-out;

                &:hover {
                    opacity: 0.5;
                    @include hover-out;
                }
            }
        }

        .editor {
            height:350px;
            .html, .css, .js {
                border:1px solid $border;
                flex: 1;
                overflow: scroll;
                flex-direction: column;
                height: 100%;

                .title {
                    border-bottom: 1px solid $border;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    background-color: $grey;
                    overflow: hidden;
                    margin:0;
                    color:$black;

                    &.js {
                        background-color:#F0DB4F;
                    }

                    &.html {
                        background-color:#e44c25;
                        color:$white;
                    }

                    &.css {
                        background-color:#31a5d9;
                        color:$white;
                    }
                }

                textarea {
                    height: 300px;
                    border: none;
                    resize: none;
                    outline: none;
                    padding: 1rem;
                }
            }

            @media screen and (max-width: $screenmd) {
                flex-direction: column;
                height: 100%;

                .html, .css, .js {
                    margin-top: 2rem;
                    height: 100%;
                }
            }
        }
    }
}

footer {
    flex-shrink: 0;
}